<html>
	<body> 
	 
	<h4>Please find the below feedback from customer : ${email.feedback.name}
		<br/>
		</h4>
		<div> 
			<b>Contact Summary:</b><br/><br/> 
			Email: ${email.feedback.email}<br/><br/>
			Subject: ${email.feedback.subject}<br/><br/>
			Message:${email.feedback.message}<br/><br/> 
			<br/><br/> 			
		 
		Thank you<br/>
		TechAdminpro.com Team<br/>
		<br/><br/><br/>			
		</div>
	</body>
</html>	
 