<html>
	<body>  
	 
		<table>
			<tr><td>
				<h4>Subscription Confirmation</h4> 		
			</tr></td>
	 		<tr>
				<td> 
				Thank you for signing up with Nriwala.com. We will be sending you all upcoming or ongoing deals, coupons, discounts, or 
				other offers via e-mail on a bi-weekly basis, as available.
				<br/><br/>
				</td>
			</tr>
			</table> 
		<br/>Thank you,<br/>
	    TechAdminpro.com Team<br/> 	 <br/><br/>
	</body>
</html>