<html>
	<body>   
		You have been unsubscribed from Nriwala.com.<br/> 
		
		<tr>
			<td><br/>
		  	If you no longer wish to receive these emails you may <a href="${email.unsubsribeLink}">unsubscribe</a> at any time.<br/><br/>
		 	 </td>
			</tr>
		
		<br/> 
	</body>
</html>	
 